@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme inline {
	--font-merriweather: var(--font-merriweather);
	--font-bricolage: var(--font-bricolage);
}

:root {
	--font-merriweather: "Merriweather Sans", system-ui, sans-serif;
	--font-bricolage: "Bricolage Grotesque", system-ui, sans-serif;
}

@layer base {
	body {
		@apply font-merriweather;
	}
}
